* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(194, 31, 31); */
}
body {
  background-color: #ECECEC;
  display: grid;
  grid-template-columns: 0.5fr 2.3fr;
  font-family: "Poppins", sans-serif;
}

.left_section {
  /* border-right: 1px solid rgb(32, 35, 40); */
  background-color: white;
}
.left_section nav {
  height: 100vh;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.Scrybe_logo {
  margin-left: -0.3rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
}

.Leader-logo{
  background-color: #E6F0FF;
}